// 全局 CSS 变量
@use "sass:math";
@import "./variables.css";
// Transition
@import "./transition.scss";
// Element Plus
@import "./element-plus.scss";
// Vxe Table
@import "./vxe-table.scss";
// 注册多主题
@import "./theme/register.scss";

// 业务页面几乎都应该在根元素上挂载 class="app-container"，以保持页面美观
.app-container {
  padding: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--v3-body-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "微软雅黑" !important;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 滚动条宽高，横向滚动条的高，纵向滚动条的宽 */
::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}

/* 滚动轨道 */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 3px;
}

@mixin con() {
  display: flex;
  justify-content: center;
}

.container {
  @include con;
  align-content: flex-start;
}

.container-center {
  @include con;
  align-items: center;
}

.no-wrap {
  display: flex;
  align-items: center;
}

// layout
$navbar-height: 3rem;
$banner-height: 25rem;
$footbar-height: 4rem;
$container-width: 960px;
$mobile-width: 420px;

// colors
$white: #ffffff;
$black: #000000;
$widget-primary: #0075ff;
$npm-primary: #bb161b;
$github-dimmed: #22272e;
$github-attention: #c69026;
$github-text-primary: #0366d6;
$github-sponsor-primary: rgb(234, 74, 170);
$twitter-primary: #1d9bf0;
$twitter-dimmed: #0c7abf;

// theme
$header-bg: var(--theme-header);
$banner-bg: var(--theme-banner);
$body-bg: var(--theme-body);
$border-color: var(--theme-border);

$link-color: var(--link-color);
$text-color: var(--text-color);
$text-secondary: var(--text-secondary);
$text-disabled: var(--text-disabled);
$text-divider: var(--text-divider);

// sizes
$xs-radius: 1px;
$sm-radius: 2px;
$lg-radius: 4px;

// times
$transition-time: 0.15s;

// gaps
$gap: 1rem; // ~14px
$sm-gap: $gap * 0.618; // ~8.6px
$xs-gap: math.div($sm-gap, 2); // ~4.4px
$lg-gap: $sm-gap * 2; // ~17px

// fonts
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-huge: 22px;
